[user]
	email = krishna.raj@affinsys.com
	name = krishna-affinsys
	signingkey = 7D0FE647D896B2A5
[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = nvim
[init]
  defaultBranch = main

[includeIf "gitdir:~/.oss/"]
  [user]
	  email = nkrishnaraj0907@gmail.com
    name = thekodeking
    signingkey = /home/krishna/.ssh/kode-logger
  [commit]
    gpgsign = true
  [gpg]
    format = ssh
  [core]
	  autocrlf = input
	  editor = nvim
  [init]
    defaultBranch = main


