[user]
	email = krishna.raj@affinsys.com
	name = krishna-affinsys
	signingkey = 7D0FE647D896B2A5
[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RF
[init]
  defaultBranch = main

[includeIf "gitdir:~/personal/**"]
  path = ~/.gitconfig_personal
[interactive]
	diffFilter = diff-so-fancy --patch
[credential]
	helper = store
